%ul.nav.nav-pills
	= active_link_to 'Intro', wizard_path(:intro), wrap_tag: :li
	= active_link_to 'Address', wizard_path(:address), wrap_tag: :li
	= active_link_to 'Delivery', wizard_path(:delivery), wrap_tag: :li
	= active_link_to 'Payment', wizard_path(:payment), wrap_tag: :li
