%ul.nav.nav-pills
  %li
    = link_to 'Intro', wizard_path(:intro)
  %li
    = link_to 'Address', wizard_path(:address)
  %li
    = link_to 'Delivery', wizard_path(:delivery)
  %li
    = link_to 'Payment', wizard_path(:payment)
