%ul.list-inline
  %li= link_to 'intro', wizard_path(:intro)
  %li= link_to 'address', wizard_path(:address)
  %li= link_to 'delivery', wizard_path(:delivery)
  %li= link_to 'payment', wizard_path(:payment)