%h2 Payment
= render partial: "steps"
= simple_form_for @cart.credit_card, url: wizard_path, method: :put do |f|
  = render partial: "credit_card_form", locals: {f: f}

  %button.btn.btn-primary.pull-right{:type=>"submit"}
    Next
    %i.fa.fa-arrow-right