%h2 Payment
= render partial: "steps"
= simple_form_for @cart.credit_card, url: wizard_path, method: :put do |f|
  = render partial: "credit_card_form", locals: {f: f}
  = submit_tag "Save", class: "btn btn-warning"