%table.table
  %thead
    %tr
      %th=t".number"
      %th=t".completed_at"
      %th=t".total"
      %th=t".actions"
  %tbody
    - orders.each do |order|
      %tr
        %td= link_to order.number, order
        %td= order.completed_date
        %td= order.total_price
        %td= link_to (t".view"), order_path(order)