
%h2 Waiting for processing
= render partial: "orders", object: @orders.in_queue

%h2 In delivery
= render partial: "orders", object: @orders.in_delivery

%h2 Delivered
= render partial: "orders", object: @orders.delivered
