%a.book{:href=>book_path(book), "data-toggle"=>"tooltip", "data-placement"=>"bottom", :title=>book.short_description}
  = image_tag book.cover.thumbnail.url, class: "book-cover"
  %h3.book-title= book.title
  .rating-stars{"data-score"=>book.avg_rating/2}
  %h4.book-price= "$#{book.price}"