%li.rating
  .rating_container.clearfix{:class=>isMyRating(rating, "my-rating", "")}
    = image_tag rating.user_avatar_url, class: "avatar photo", height: 140, width: 140
    .rating-review
      %h3.rating-author= rating.user.to_s

      .rating-stars.pull-right{"data-score"=>rating.number/2}
      -#.review-metadata
        bla bla

      .description= rating.review