@import "bootstrap-sprockets";
@import "variables";
@import "bootstrap";
@import "bootswatch";
@import "font-awesome";
@import "intlTelInput";
@import "bootstrap-social";
@import "slick";
@import "slick-theme";
@import "*";

.categories-title {
  font-size: 20px;
}

#logo {
  padding: 0 20px;
  height: 22px;
}