@import "bootstrap-sprockets";
@import "variables";
@import "bootstrap";
@import "bootswatch";
@import "font-awesome";
@import "*";

.categories-title {
  font-size: 20px;
}

#logo {
  padding: 0 20px;
  height: 22px;
}

.book-categories {
  padding: 0;
  list-style: none outside;
  .category-item {
    border-top: 1px solid #e8e8e8;
    font-weight: bold;
    font-size: 12px;
    margin: 0;
    
    a {
      padding-top: 10px;
      padding-bottom: 10px;
      text-decoration: none;
      display: block;
      color: #333;

      &:hover {
        color: #646464;
      }
    }

  }
}
