@import "bootstrap-sprockets";
@import "variables";
@import "bootstrap";
@import "bootswatch";
@import "font-awesome";
@import "intlTelInput";
@import "bootstrap-social";
@import "slick";
@import "slick-theme";
@import "*";

.categories-title {
  font-size: 20px;
  text-transform: uppercase;
}

#logo {
  margin-left: 40px;
  height: 24px;
}

.categories {
  a {
    color: #464646;
    padding: 0 !important;
  }
}