// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.book-details {
  padding-bottom: 40px;
  
  .rating-stars {
    display: inline-block;
  }

  .book-cover {
    width: 300px;
  }

  .add-to-wish-list {
    display: block;
    margin: 6px 0;
    font-weight: bold;
    color: #464646;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      color: #646464;
    }
  }

  .title {
    font-weight: bold;
  }

  .amount {
    font-size: 24px;
    color: #464646;
  }

  .description {
    margin: 20px 0;
  }

  .cart {
    .qty {
      display: inline-block;
      font-size: 24px;
      width: 60px;
      //text-align: center;
      //font-weight: 700;
      //-moz-appearance: textfield;
      //border-style: none none solid;
    }
    .btn {
      margin-top: -10px;
    }
  }
}

.book {
  display: block;
  float: left;
  height: 300px;
  margin: 20px;
  padding: 20px;
  text-decoration: none !important;

  .book-cover {
    width: 120px;
    height: 180px;
  }

  .book-title {
    margin: 4px 0px;
    width: 100px;
    font-size: 14px;
  }

  .book-price {
    margin: 4px 0px;
    font-size: 12px;
  }

  &:hover {
    background-color: #fafafa;
  }
}

.wish-book {
}
