// Place all the styles related to the cart controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cart_item {
  img {
    width: 48px;
  }

  .qty {
    width: 60px;
  }

}

.expiry-year .expiry-month .cvv {
  width: 100px;
}