// Place all the styles related to the cart controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cart_item {
  img {
    width: 48px;
  }

  .qty {
    width: 60px;
  }

}

.edit_credit_card, .new_credit_card {
  input, select {
    text-align: center;
    font-weight: bold;
  }

  .expiry-year .expiry-month .cvv {
    width: 100px;
  }

  .expiry-month .expiry-year {
    text-indent: 5px;
  }
}