= content_for :styles do
  = stylesheet_link_tag    'welcome/welcome', media: 'all', 'data-turbolinks-track' => true
  %link{:href => "http://fonts.googleapis.com/css?family=Lato:300,400,900", :rel => "stylesheet", :type => "text/css"}/

= render template: "layouts/application"